.card{
    width: 300px;
    height: auto;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0,0,0,.2);
    font-family: sans-serif;
}
.card img{
    width: 100%;
}

.price{
    color: gray;
    font-size: 22px;
}
button{
    border: none;
    outline: 0;
    padding: 12px;
    background-color: black;
    text-align: center;
    font-size: 18px;
    cursor: pointer;
    color: aliceblue;
    width: 100%;

}
button:hover{
    opacity: .7;
}
h2{
    text-align: center;
}